{% extends "base2.html" %}
{% block title %}ToyHub - Retrieve Customers{% endblock %}

{% block content2 %}
<h1 class="display-4">Retrieve Customers</h1>
<div>
  {% if count == 0 %}
  <p>There are no customers.</p>
  {% elif count == 1 %}
  <p>There is 1 customer.</p>
  {% else %}
  <p>There are {{ count }} customers.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- NO CUSTOMER NAME NEED FIX ALL OF IT SOBBING OASDHJIHDJAS -->
        <th>Customer ID</th>
        <th>Username</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>Address</th>
        <th>Delete</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers_list %}
        <tr>
          <td>{{ customer.get_customer_id() }}</td>
          <td>{{ customer.get_Username() }}</td>
          <td>{{ customer.get_gender() }}</td>
          <td>{{ customer.get_Email() }}</td>
          <td>{{ customer.get_PhoneNo() }}</td>
          <td>{{ customer.get_address() }}</td>
          <td>
             <form action="{{url_for('delete_customer', id=customer.get_customer_id())}}" method="POST">
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{customer.get_customer_id()}}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{customer.get_customer_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{customer.get_Username()}}, Customer ID {{customer.get_customer_id()}}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}