{% extends "base2.html" %}
{% block title %}Staff - Sales{% endblock %}

{% block content2 %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid-fluid">
    <div class="collapse navbar-collapse justify-content-between " id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/sales">Sales Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sales/graph/">Sales graph</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<a href="/createProduct" class="btn btn-primary">Create Product</a>

<div id="Saletable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price (In $)</th>
        <th>Units sold</th>
        <th>Overall sales (In $)</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- Make it sort in sales idk how but ya  -->
      {% for product in product_list %}
        <tr>
          <td>{{ product.get_Product_id() }}</td>
          <td>{{ product.get_Name() }}</td>
          <td>{{ product.get_Description() }}</td>
          <td>{{ product.get_Price() }}</td>
          <td>{{ product.get_Amt_sold() }}</td>
          <td>{{ product.calculate_overall_sales() }}</td> <!-- Display overall sales -->
          <td><a href="/updateProduct/{{product.get_Product_id()}}" class="btn btn-warning">Update</a></td>
<td>
          <form action="{{url_for('delete_product', id=product.get_Product_id())}}" method="POST">
<!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{product.get_Name()}} of {{product.get_Product_id()}}?');">-->
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{product.get_Product_id()}}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{ product.get_Product_id() }}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{ product.get_Name() }}, Product ID {{ product.get_Product_id() }}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}