/*Search Bar Div */
.whitebg {background-color:white;
}


.producttext {
    margin-top:2vh;
    }
.dropdown {
    margin-top:1.1vh;
    }
/*Search Bar */
.searchbar{
vertical-align:center;
}

/*Product Display */
#scroll{
overflow-y:scroll;
}
.productrow{
margin-top:2vh;
}



.image-box {
    background-color: #FF9797;
    width: 20vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:3vh;
}

.name {
color:white;
font-size:30px;
text-align:center;
margin-bottom:-0.5vh;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block; /* Make sure image doesn't have any spacing issues */
    padding: 10px; /* Padding around the image */
    padding-bottom:0px;
    justify-content: center;
    align-items: center;
}

.price{
color: #C2FFAC;
text-align:center;
font-size:50px;
margin-top:auto;

}

.rating{
width:20vw;
height:auto;
display: flex;
justify-content: center;
margin-bottom:25px;
}
.rating span{
margin-left:0.5vw;
margin-right:0.5vw;
font-size: 50px;
color: gold;

.image-box a {
    text-decoration: none;
}