<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <section>
        <button id="retrieveDataButton">Retrieve Conversation Data</button>
        <div id="conversationData"></div>
    </section>
    <section>
        <button id="deleteDataButton">Delete Conversation Data</button>
    </section>

    <script type="text/javascript" src="{{ url_for('static', filename='js/aboutus.js') }}"></script>
</body>
</html>
