<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Feedback Form Submissions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css') }}">
</head>
<body>
    <h2>Feedback Submissions</h2>

    {% if feedbacks %}
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Feedback Type</th>
                <th>Feedback</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.name }}</td>
                <td>{{ feedback.email }}</td>
                <td>{{ feedback.phone }}</td>
                <td>{{ feedback.feedbackType }}</td>
                <td>{{ feedback.feedback }}</td>
                <td>
                    <button class="delete-button" onclick="showConfirmationModal({{ loop.index }})">Delete</button>
                    <div id="confirmationModal{{ loop.index }}" class="confirmation-modal">
                        <div class="confirmation-modal-content">
                            <p>Are you sure you want to delete this row?</p>
                            <div class="confirmation-buttons">
                                <button onclick="deleteRow({{ loop.index }})">Yes</button>
                                <button onclick="hideConfirmationModal({{ loop.index }})">No</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No feedback submissions yet.</p>
    {% endif %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/feedback.js') }}"></script>

</body>
</html>


