{% extends "base.html" %}
{% block title %}Toyhub - Staff{% endblock %}

{% block content %}
<h1 class="display-4">Hello Staff name</h1>
<div id="sales">
    <h4>Sales Performance</h4>
    <p>Best selling product: (pic or item label)</p>
    <a href="{{ url_for('sales') }}" class="seemore">See more</a>
</div>

<div id="Chat">
    <h4>Chats</h4>
    <p>No of new chats (no of unread)</p>
    <a href="/Chat" class="seemore">See more</a>
</div>

<div id="Feedback">
    <h4>Feedback</h4>
    <p>No of new feedback (number of unread)</p>
    <a href="/Chat" class="seemore">See more</a>
</div>
{% endblock %}

