{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}

{% block content %}
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for product in product_list %}
        <tr>
          <td>{{ product.get_Name() }}</td>
          <td>{{ product.get_Description() }}</td>
          <td>{{ product.get_Price() }}</td>
          <td><a href="/updateproduct/{{ product.get_Product_id() }}" class="btn btn-warning">Update</a></td>
<td>
          <form action="{{url_for('delete_user', id=product.get_Product_id())}}" method="POST">
<!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{staff.get_Username()}} of {{staff.get_Staff_id()}}?');">-->
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{product.get_product_id()}}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{product.get_Product_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{product.get_Name()}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
